:root {
    --clr-accent-400: hsl(158, 36%, 37%);
  
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(30, 38%, 92%);
    --clr-neutral-300: hsl(228, 12%, 48%);
  
    --clr-primary-400: hsl(212, 21%, 14%);
  
    --ff-primary: 'Fraunces', serif;
    --ff-secondary: 'Montserrat', sans-serif;
  
    --ff-body: var(--ff-secondary);
    --ff-heading: var(--ff-primary);
  
    --fw-regular:500;
    --fw-bold:700;
  
    --fs-300: .825em;
    --fs-400: .900em;
    --fs-600: 1.06em;
    --fs-700: 33px;
    --fs-800: 2.25em;
    --fs-900: 2.625em;
    --fs-950: 3em;
   
    --fs-body: var(--fs-400);
    --fs-heading:var(--fs-700);
    --fs-button:var(--fs-400);
    --fs-small:var(--fs-300);
  
    --montserrat: 'Montserrat', sans-serif;
    --fraunces: 'Fraunces', serif;
  }
  
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin */
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    height: 100%;
  }
  
  /* Set core body defaults */
  body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img,
  picture,
  svg {
    max-width: 100%;
    display: block;
  }
  
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  
  /* Utility classes */
  
  .text-primary-400 {
    color:var(--clr-primary-400);
  }
  
  .text-neutral-300 {
    color:var(--clr-neutral-300);
  }
  
  .text-neutral-100 {
    color:var(--clr-neutral-100);
  }
  
  .text-accent-400 {
    color:var(--clr-accent-400);
  }
  
  .bg-primary-400 {
    background-color:var(--clr-primary-400);
  }
  
  .bg-neutral-300 {
    background-color:var(--clr-neutral-300);
  }
  
  .bg-neutral-100 {
    background-color:var(--clr-neutral-100);
  }
  
  .bg-accent-400 {
    background-color:var(--clr-accent-400);
  }
  
  .fw-regular {
    font-weight: var(--fw-regular);
  }
  
  .fw-bold {
    font-weight: var(--fw-bold);
  }
  
  .fs-300 {
    font-size: var(--fs-300);
  }
  
  .fs-400 {
    font-size: var(--fs-400);
  }
  
  .fs-700 {
    font-size: var(--fs-700);
  }
  
  .fs-body {
    font-size: var(--fs-body);
  }
  .fs-heading {
    font-size: var(--fs-heading);
  }
  .fs-button{
    font-size: var(--fs-button);
  }
  .fs-small {
    font-size: var(--fs-small);
  }
  


  body{
    background-color:var(--clr-neutral-200);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 600px;
    height: 450px;
    display: flex;
  }

  .container__figure {
    width: 300px;
    height: 450px;
    background-image: url('/image-product-desktop.jpg');
    background-size: cover;
    border-radius: 10px 0 0 10px;
  }

  .card {
    width: 300px;
    height: 450px;
    border-radius: 0 10px 10px 0;
    padding:32px;
 }

 .card__category,
 .card__text,
 .card__oldprice {
    font-family: var(--ff-secondary);
 }

 .card__title {
    font-family: var(--ff-primary);
    font-size: var(--fs-heading);
    line-height: 1em;
    margin: 20px 0 25px 0;
 }

 .card__category {
    font-family: var(--ff-secondary);
    letter-spacing: 4px;
    margin-top: 0;
  }

  .card__text {
    line-height: 1.6em;
  }

  .card__price{
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
  }

  .card__newprice{
    font-family: var(--ff-primary);
    margin-right:24px;
  }

  .card__oldprice{
       text-decoration: line-through;
  }

  .card__cta {
    width:236px;
    height: 48px;
    background:var(--clr-accent-400);
    font-family: var(--ff-secondary);
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0;
  }

  .icon {
    width: 16px;
    height: 16px;
    background: url('/icon-cart.svg');
    background-size: cover;
    background-position: center;
    margin-right: 12px;
 }

 @media (max-width:720px) {

    :root{
        --fs-body: var(--fs-300);
    }
    .container {
        width: 345px;
        height: 612px;
        flex-direction:column;
      }
    
      .container__figure {
        width: 345px;
        height: 240px;
        background-image: url('/image-product-mobile.jpg');
        background-size: cover;
        border-radius: 10px 10px 0 0;
      }
      
      .card {
        width: 345px;
        height: 372px;
        padding:22px 25px;
        border-radius: 0 0 10px 10px;
      }

      .card__title {
        margin: 10px 0 20px 0;
     }

     .card__price {
        margin: 45px 0 10px 0;
     }
     .card__cta {
        width:295px;
     }
    
 }