:root {
  --clr-accent-400: hsl(158, 36%, 37%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(30, 38%, 92%);
  --clr-neutral-300: hsl(228, 12%, 48%);

  --clr-primary-400: hsl(212, 21%, 14%);

  --ff-primary: 'Fraunces', serif;
  --ff-secondary: 'Montserrat', sans-serif;

  --ff-body: var(--ff-secondary);
  --ff-heading: var(--ff-primary);

  --fw-regular:500;
  --fw-bold:700;

  --fs-300: .8125em;
  --fs-400: .875em;
  --fs-600: 1.06em;
  --fs-700: 2em;
  --fs-800: 2.25em;
  --fs-900: 2.625em;
  --fs-950: 3em;
 
  --fs-body: var(--fs-300);
  --fs-heading:var(--fs-700);
  --fs-button:var(--fs-400);
  --fs-oldprice:var(--fs-300);

  --montserrat: 'Montserrat', sans-serif;
  --fraunces: 'Fraunces', serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* Utility classes */

.text-primary-400 {
  color:var(--clr-primary-400);
}

.text-neutral-300 {
  color:var(--clr-neutral-300);
}

.text-neutral-100 {
  color:var(--clr-neutral-100);
}

.text-accent-400 {
  color:var(--clr-accent-400);
}

.bg-primary-400 {
  background-color:var(--clr-primary-400);
}

.bg-neutral-300 {
  background-color:var(--clr-neutral-300);
}

.bg-neutral-100 {
  background-color:var(--clr-neutral-100);
}

.bg-accent-400 {
  background-color:var(--clr-accent-400);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-body {
  font-size: var(--fs-body);
}
.fs-heading {
  font-size: var(--fs-heading);
}
.fs-button{
  font-size: var(--fs-button);
}

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin:0;
  background-color: var(--clr-neutral-200);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 92%;
  background-color: #fff;
  position: relative;
  /*margin: 30px auto;*/
  display: block;
  border-radius: 10px;
}

.attribution {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom:5px;
  font-family: var(--ff-secondary);
  font-size: 10px;
  
}

.attribution a {
  color: var(--clr-neutral-300);
  
}

img {
  display: block;
  position: relative;
}

.container__figure {
  width: 100%;
  height: 15em;
  background-image: url('/images/image-product-mobile.jpg');
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

p {
  font-family: var(--ff-secondary);
  line-height: 1.7;
}



h1,
h2 {
  font-family: var(--ff-primary);
}

.card {
  padding: 25px;
}

.card__texts{
  margin-bottom:30px;
}
.card__category {
  font-family: var(--ff-secondary);
  letter-spacing: 4px;
  margin-top: 0;
  
}
.card__title {
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 15px;
}


.card__price {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:40px;
  margin-bottom:10px;
}

.card__newprice {
  font-family:var(--ff-primary);
  margin-right: 30px;
  

}

.btn {
  
  height:3em;
  background:var(--clr-accent-400);
  padding:15px 0 0 0;
  border-radius: 10px;
}

.card__cta {
  font-family: var(--ff-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height:48px;
  background:var(--clr-accent-400);
  border-radius: 10px;
}

.card__oldprice {
  text-decoration: line-through;
  
}

.icon {
  width: 1.06em;
  height: 1.06em;
  background: url('/images/icon-cart.svg');
  background-size: cover;
  background-position: center;
  margin-right: 14px;

  
}

@media (min-width:720px) {

:root {
  --fs-body: var(--fs-600);
  --fs-heading:var(--fs-800);
  --fs-button:var(--fs-600);
  --fs-oldprice:var(--fs-400);
}
.container {
  max-width: 50%;
  min-height: 500px;
  display: flex;

}

.card {
  width:50%;
  padding:30px;
  
}

.container__figure  {
  width:50%;
  height: 100%;
  background-image: url('/images/image-product-desktop.jpg');
  background-size: cover;
  border-radius: 10px 0 0 10px;
}

.card__price {
  margin: 21px 0;
}

.card__title {
  
  margin: 20px 0;
}

.card__cta {
  height:3.5em;
}

}

@media (min-width:1440px) {

  :root {
    --fs-body: var(--fs-600);
    --fs-heading:var(--fs-800);
    --fs-button:var(--fs-600);
    --fs-oldprice:var(--fs-400);
  }
  .container {
    max-width: 50%;
    min-height: 550px;
    
  
  }
  .card {
    width:50%;
    padding:2.5em;
    
  }
  .card__price {
    margin: 1.5em 0;
  }
  .card__title {
    
    margin: .5em 0;
  }
  

  @media (min-width:1560px) {

    :root {
      
      --fs-heading:var(--fs-900);
      
    }
   
 
}

@media (min-width:1759px) {

  :root {
    
    --fs-heading:var(--fs-950);
  
  }
 

}

}

